@font-face {
    font-family: "Technology";
    src: url(technology.bold.ttf);
}
body {
    background-color: rgb(16, 16, 16);
    font-family: Technology;
    color: rgb(235, 255, 230);
    font-size: 200px;
    text-shadow: 0 0 30px #02e351;
    text-align: center;
}
span {
    font-size: 80px;
    margin: 0;
    padding: 0;
}