.box1{
    text-align: center;
    background-color: #790000c5;

}

.box2{
    text-align: center;
    background-color: #e8d3a1bf;
}

header {
   padding: 16px;
   background: #e2b058;
 }
 
 .h-menu{
   position: relative;
 }
 
 /*inputのcheckboxは非表示に*/
 .h-menuCheckbox {
   display:none;
 }
 
 /*ハンバーガーメニュー*/
 .h-menu_icon {
     display: inline-block;
     width: 30px;
     height: 30px;
     vertical-align: middle;
 }
 
 /*3本線*/
 .hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
     content: '';
     display: block;
     position: absolute;
     z-index: 100;
     top:0;
     bottom:0;
     width: 32px;
     height: 3px;
     background: white;
     cursor: pointer;
 }
 .hamburger-icon:before {
     top: 10px;
 }
 .hamburger-icon:after {
     top: 20px;
 }
 
 /*メニュー以外を暗くする*/
 #h-menu_black {
     display: none;
     position: fixed;
     z-index: 98;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background:  #9f370b(145, 61, 25);
     opacity: 0;
     transition: .7s ease-in-out;
 }
 
 /*中身*/
 #h-menu_content {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 99;
     width: 100%;
     max-width: 320px;
     height: 100vh;
     padding: 53px 16px 16px;
     background: #9f370b;
     overflow: auto;
     transition: .3s ease-in-out;
     -webkit-transform: translateX(-105%);
     transform: translateX(-105%);
 }
 
 /*チェックボックスにチェックが入ったら表示*/
 input:checked ~ .h-menu_icon .hamburger-icon{
     background: transparent;
 }
 input:checked ~ .h-menu_icon .hamburger-icon::before{
     -webkit-transform: rotate(-45deg);
     transform: rotate(-45deg);
     top:10px;
     z-index:999;
 }
 input:checked ~ .h-menu_icon .hamburger-icon::after{
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
     top:10px;
     z-index:999;
 }
 input:checked ~ #h-menu_black {
     display: block;/*カバーを表示*/
     opacity: .8;
 }
 #h-menu_checkbox:checked ~ #h-menu_content {
     -webkit-transform: translateX(0%);
     transform: translateX(0%);
     box-shadow: 6px 0 25px rgba(0,0,0,.15);
 }
 .h-menu_icon .hamburger-icon, .h-menu_icon .hamburger-icon::before, .h-menu_icon .hamburger-icon::after, #h-menu_black, #h-menu_content{
     -webkit-transition: all .3s ;
     transition: all .3s ;}
 
 #h-menu_content ul{
     list-style: none;
     margin: 0;
     padding: 0;
 }
 #h-menu_content ul li{
     border-bottom: solid 1px white;
 }
 #h-menu_content li a {
     display: block;
     color: white;
     font-size: 14px;
     padding: 24px;
     text-decoration: none;
     transition-duration: 0.2s;
 }
 #h-menu_content li a:hover {
     background: #455b6d;
 }
 
 
 
 Resources
 


.main_img{
    text-align: center;
}

 .Notice{
    border: 2px solid #c22842;
    padding: 30px;
    margin: 30px;
    text-align: center;
    font-family: serif;
    line-height: 2em;
    margin-left: 75px;
    margin-right: 75px;
    font-size: 16px;
    color: #8a0017;
 }

 .last{
    text-align: center;
    line-height: 2em;
    font-family: serif;
    font-size: 15px;
    color:black;
 }
 
 .indent{
    text-align: center;
    line-height: 2em;
    font-family: serif;
    font-size: 20px;
    color: #8a0017;
 }


.main{
    text-align: center;
    line-height: 2em;
    font-family: serif;
    font-size: 15px;
    color:black;
}

.kodawari_title{
   border: 2px solid #141414;
   margin: 30px;
   padding: 30px;
   text-align: center;
   font-family: serif;
   font-size: 15px;
}

.tyaba_title{
   border: 2px solid #c22842;
   border-radius: 10px;
   margin: 30px;
   padding: 30px;
   text-align: center;
   font-family: serif;
   font-size: 15px;
   color: #8a0017;
}

.kodawari01{
   text-align: left;
}

.kodawari02{
   text-align: right;
}

.kodawari03{
   text-align: left;
}

.kodawari04{
   text-align: right;
}

.tyaba_waku{
   display: flex;
   font-family: serif;
   font-size: 15px;
   margin: 100px;
   padding: 20px;   
}

.tyaba_waku span{
   background: #fffc4f;
}

.jyukutya_tokutyou{
   font-family: serif;
   font-size: 15px;
   border: 1px solid #5c230e;
   border-radius: 10px;
   color: #5c230e;
   margin: 100px;
   padding: 20px;
   
}

.namacha_tokutyou{
   font-family: serif;
   font-size: 15px;
   border: 1px solid #1f6019;
   border-radius: 10px;
   color: #1f6019;
   margin: 100px;
   padding: 20px;
   
}

.roucha_tokutyou{
   font-family: serif;
   font-size: 15px;
   border: 1px solid #271808;
   border-radius: 10px;
   color:#271808 ;
   margin: 100px;
   padding: 20px;
   
}

.biyou{
   text-align: center;
   font-family: serif;
   font-size: 15px;
}

.biyou ul{
   display: flex;
   justify-content: center;
}

.biyou li{
   list-style: none;
   font-family: serif;
   font-size: 15px;
   margin: 10px;
}

.bunka_title{
   text-align: center;
   font-family: serif;
   font-size: 15px;
}


.text{
   padding-left: 10px;
}

.text h5{
   text-decoration:underline ;
   text-decoration-color: #8a0017;
   font-size: 25px;
   color: #8a0017;
   text-align: left;
}

.ph{
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.taikan{
   text-align: center;
   border: 1px solid #ffe1c9;
   border-top: none;
   margin: 203px;
   margin-top: 50px;
   margin-bottom: 10px;
   background-color: #ffe0c5be;
}

.waku{
   text-align: center; 
   display: flex;
   justify-content: center;
   font-family: serif;
   font-size: 15px;
  
}

.text p{
   margin-bottom: 10px;
   margin-top: 10px;
}

.text span{
   background:#fffc4f ;
}

.voive_title{
   text-align: center;
   font-family: serif;
   font-size: 25px;
}

.voice_content{
   font-family: serif;
   font-size: 20px;
}

.voice_content ul{
   display: flex;
   justify-content: center;
}

.voice_content li{
   list-style: none;
   font-family: serif;
   font-size: 15px;
   margin: 10px;
   border: 1px solid #271808;
   padding: 10px;
}

.voice_content h6{
   font-size: 20px;
}


.kentou_content{
   display:flex;
   font-family: serif;
   font-size: 15px;
   background-color: #d9b336ed;
}

.naiyou1{
   display: flex;
   
}

.kentou_ph{
   margin-left: 200px;
}

.kentou_text{
   margin: 20px;
   font-family: serif;
   font-size: 20px;
   color: #ffffff;
}


.naiyou{
   text-align: center;
   font-family: serif;
   font-size: 20px;
   background-color:#eae0d0fd;
}

.tel{
  display: flex;
  margin-left: 170px;
}

.form{
   background-color: #5c230e;
   padding-top: 50px;
   margin-left: 150px;
}

.present_label{
   text-align: center;
   background-color: #8a0017;
   padding: 10px;
}

.goukatokuten{
   text-align: center;
   font-family: serif;
   font-size: 20px;
}

.textarea{
    text-align: center;
}

.dropdown{
    list-style: none;
}


.kiyaku{
    list-style: none;
    text-align: center;
    color: #ffffff;
    border: 1px solid  #d78751;
    background-color:  #d78751;
}

.submenu{
    list-style: none;
}

.submenu h6{
    color: #8a0017;
    font-family: serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.doui{
    text-align: center;
}


.inner{
   font-family: serif;
   font-size: 20px;
   border: 3px solid  #dd7b70;
   margin-left: 100px;
   margin-right: 100px;
   padding-left: 50px;
   padding-right: 50px;
}

.inner dt{
  text-decoration: underline 1px;
}

.inner dd{
   padding-left: 400px;
}

.inner dt span{
   border: #8a0017;
   color: #c22842;
}

.inner dt p{
   font-size: 15px;
}

.inner dt div{
   font-size: 15px;
   color: #8a0017;
   
}

.footer_link_small{
   text-align: center;
   margin-top: 30px;
   color: #ffffff;
   background: #dd7b70;
}

.copy{
    text-align: center;
    
    color: #ffffff;
    background: #dd7b70;
}

