.head{
    font-size:30px;
    font-family: 'ＭＳ 明朝', 'MS Mincho',sans-serif;
}

.countdown{
    background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 300%;
    font-weight: bold;
    display: inline-block;
}