/* リセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #74ABE2, #5563DE);
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

#timer {
  font-size: 3rem;
  letter-spacing: 0.1em;
}

#btn{
  justify-content: center;
  align-items: center;
  font-size: large;
  background:  #5563DE;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
}