@charset "UTF-8";

/* aタグのリセットCSS（不要な場合、セレクタごと削除してください） */
a {
  color: inherit;
  text-decoration: none;
}

/* buttonタグのリセットCSS（不要な場合、セレクタごと削除してください） */
button {
  padding: 0;
  font-family: inherit;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* ボタンのスタイル */
.buttonOutlineGradient {
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 64px;
  padding: 2px;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  overflow-wrap: anywhere;
  background: linear-gradient(135deg, #6fa24a, #15a1cc);
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
}

.buttonOutlineGradient::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(135deg, #6fa24a, #15a1cc);
  filter: blur(8px);
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
  opacity: 0;
}

.buttonOutlineGradient_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #222;
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
}

@media (any-hover: hover) {
  .buttonOutlineGradient::before {
    transition: opacity 0.2s;
    will-change: filter;
  }

  .buttonOutlineGradient:hover::before {
    opacity: 1;
  }
}
