.countdown-container {
  margin: 5rem;
  text-align: center;
}
.time-container {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}
.time {
  color: #fff;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 2px 3px 5px rgb(182, 178, 178);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
}
.t_l {
  background-color: #87CAAC;
}
.t_m {
  background-color: #00A5A8;
}
.t_r {
  background-color: #187FC4;
}
#hour,#min,#sec {
  font-size: 3rem;
  font-weight: bold;
  margin-right: 1rem;
  
}

@media(max-width: 767px){}
@media(max-width: 473px){}

