@charset "UTF-8";

h1 {
    margin-bottom: auto;
    margin-left: 10px;  
}

.timer {
    font-size: 30px;
    margin-left: 30px;
    margin-top: auto;

    border-bottom: 3px solid #de4d4d;
    display: inline-block;

}

span {
    color:#de4d4d;
    font-size: 60px;
}