body {
    background-color: #fcefd6;
  }
/*トップバー*/
.top-bar {
    background-color: #4e342e;
    height: 24px;
    padding: 20px 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social-icons {
    display: flex;
    height: auto;
    gap: 12px;
}

.social-icon {
    width: 30px;
    height: 30px;
}

/* 透過 */
header {
    position: absolute; 
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 224, 191, 0.8), rgba(255, 242, 228, 0.95));
    padding: 20px 0;
}
/* ヘッダースタイル */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 7.5rem;
    top: 0;
}

/* ロゴの位置 */
.header-logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.header-logo .logo-image {
    width: 150px;
}

/* タイトル */
.header-title {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

/* ナビゲーション */

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.3s ease;
}

nav li a:hover{
    color: #7e7e7ed0; 
    transition: all 0.3s ease;
    transform: translateY(5px);
}
/*ヘッダーの猫の画像*/    
.header-img-cat {
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;
    height: 91vh;
    z-index: -1; 
}

.header-img-cat img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
/* ボタンのスタイル */
.reservation {
    position: absolute;
    bottom: 10%; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.reservation-btn {
    display: inline-block;
    padding: 12px 20px;
    background: #fff;
    color: #8B5E3C;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    border: 2px solid #8B5E3C;
    position: relative;
    transition: all 0.3s ease;
    z-index: 2;
}

/* ホバー時のエフェクト */
.reservation-btn:hover {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    background:  #dddddd;
}

/*ニュースメニュー*/
.news{
    margin-top: 50px;
    margin-bottom: 50px;
}
.splide {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}

.splide__slide img {
  max-width: 700px;         
  width: 100%;            
  height: auto;           
  display: block;
  margin: 0 auto;
  border-radius: 8px;      
}

/*splideのボタン*/
.splide__arrow {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  font-size: 2rem;
  width: 40px;
  height: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: background-color 0.3s ease;
}

.splide__arrow--prev {
  left: 100px; 
}

.splide__arrow--next {
  right: 100px;
}

.splide__arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
}


  
/*スタッフ猫紹介の背景*/
.staff-neko-img {
    position: relative; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 0; 
}

.staff-neko-backgaound img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/*スタッフ猫紹介　本文*/
.staff-neko-section {
    background-position: center;
    position: relative;
    width: 100%;
    height: 600px; 
    background-image: url("../images/staff-neko-background.jpg");
    background-size: cover;
    text-align: center;
    z-index: 1;
}

.section-title {
    padding: 4rem;
    height: 42px;
    font-size: 42px;
    color: #8B5E3C;
    margin-bottom: 20px;
    font-weight: bold;
}

.staff-neko-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 0;
}

.staff-neko-slider {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.staff-neko img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
}

/*スタッフ猫紹介ボタン*/

.button-container {
    margin-top: 5%;
    position: relative;
    z-index: 2;
}

.more-info-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    color: #8B5E3C;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid #8B5E3C;
    position: relative;
    transition: all 0.3s ease;
    z-index: 2;
}

.more-info-btn:hover {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    background:  #dddddd;
}

/* 料金ページの導線 */
.price-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px; 
    padding-top: 22rem;
    position: relative;
}
.price-block {
    position: relative;
    width: 500px;
    height: 500px;
    max-width: 700px;
    margin: auto;
}

.price-block img {
    position: absolute;
    top: -30%;
    left: -45%; 
    width: 600px;
    max-width: 100%;
    z-index: 1;
}
/*テキストボックス（料金プラン）*/
.price-text {
    max-width: 700px;
    text-align: center;
    left: 50%;
    padding: 60px 40px;
    background: rgba(248, 211, 186, 0.7);
    border-radius: 5px;
    position: relative;
    z-index: 0;
}

.price-text h1 {
    font-size: 30px;
    font-weight: bold;
    color: #A04D2E;
}

.price-text p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    color: #8B5E3C;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid #8B5E3C;
    position: relative;
    transition: all 0.3s ease;
    z-index: 2;
}

.btn:hover {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    background:  #dddddd;
}

/* コンセプト導線の画像 */
.concept-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 240px ;
    position: relative;
    padding-top: 15rem;
    padding-bottom: 2rem;
}

.concept-block {
    position: relative;
    width: 500px;
    height: 500px;
    max-width: 700px;
    margin: auto;
}

.concept-block img {
    position: absolute;
    top: -30%;
    right: -45%; 
    width: 600px;
    max-width: 100%;
    z-index: 1;
}
/*コンセプト導線の本文*/
.concept-text {
    max-width: 700px;
    text-align: center;
    right: 50%;
    padding: 60px 40px;
    background: rgba(248, 211, 186, 0.7);
    border-radius: 5px;
    position: relative;
    z-index: 0;
}

.concept-text h1 {
    font-size: 30px;
    font-weight: bold;
    color: #A04D2E;
}

.concept-text p{
    font-weight: bold;
}

/*フェードイン*/
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.0s ease, transform 1.0s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-left, .fade-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1.0s ease, transform 1.0s ease;
}

.fade-left {
  transform: translateX(-50px);
}

.fade-left.visible,
.fade-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.fade-delay {
  transition-delay: 0.5s;
}

/* フッター
------------------------------- */
.page-footer {
    background-size: cover;
    background-position: center;
    padding-top: 2rem;
}

.information-head {
    margin-bottom: 10px; /* テーブルとの間隔を開ける */
    text-align: center;  /* 文字を中央揃え */
    font-size: 1.5em;    /* 見出しのサイズを少し大きく */
}
.information {
    display: flex; /* 横並びにする */
    justify-content: space-between; /* 両端に配置 */
    align-items: flex-start; /* 上端揃え */
    gap: 20px; /* 間隔を開ける */
}

.information > div {
    width: 50%; /* 半分ずつに分ける */
}

.location-map iframe {
    width: 100%; /* divいっぱいに広げる */
    height: 320px; /* 高さはそのまま */
}

.information-info {
    margin-bottom: 2rem;
}

.information .info {
    padding: 0;
}

.information-wrapper {
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
}

.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}
.info th,.info td {
    border-bottom: 1px solid #c9c2bc;
}
.info th {
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}
.info td {
    padding: 1rem 0;
}
.copyright {
    background-color:  #4e342e;
    text-align: center;
    padding: 1rem 0;
    margin-top: 125px;
    color: #fff;
}
/*レスポンシブ対応*/

