body {
    margin: 0;
}

header {
    position: sticky;
    width: 100%;
    background-color: #EDE6D9;
    text-align: center;
    box-shadow: 0px 2px 2px gray;
    top: 0px;
    z-index: 999;
}

a:hover img {
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
  }

.body1 {
    background-image: url(../image/mv_bg.jpg);
    background-repeat: no-repeat;
    background-color: #e4e4e4;
    background-position: top;
    background-size: cover; 
    height: 900px;
}

.body1-2 {
    position: relative;
}

.body1-3 {
    position: relative;
    width: 1000px;
    height: 900px;
    margin: 0 auto;
}

.topimages1 {
    background-image: url(../image/mv_bg.jpg);
    background-repeat: no-repeat;
    background-color: #e4e4e4;
    background-position: center;
    background-size: cover; 
    height: 900px;
}

.body1-3 h1 {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    text-align: center;
}

.body1-3 h2 {
    position: absolute;
    top: 230px;
    left: 0;
    right: 500px;
    text-align: center;
}

.body2 {
    background-image: url(../image/box2/cv_bg.jpg);
    background-repeat: no-repeat;
    background-color: #e4e4e4;
    background-position: center;
    background-size:1600px; 
    height: 1283px;
    box-sizing: border-box;

    position: relative;
    margin: 0;
    border-top: 70px solid #edf1f1 ;
}

.body2-2 {
    position: relative;
    margin:0;
    text-align: center;
    top: 25px;

}

.body2 h5 {
    position: absolute;
    width: 95%;
    height: 99%;
    left: 2.5%;
    top: -2.0%;
    border: #ede6d9 solid 8px;
    z-index: 998;
    box-sizing: border-box;
    margin: 0;
}

div {
    display: block;
}

.content {
    position: relative;
    margin: 0;
    
}

.content h3 {
    position: relative;
    left: 50px;
    margin: 0 auto;
    width: 900px;
}

.content h4 {
    position: relative;
    top: -160px;
    margin: 0 auto;
}

.body2 p {
    position: relative;
    top: -120px;
    margin: 0 auto;
    max-width: 680px;
    font-size: 12.5px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    font-weight: lighter;
    text-align: left;
    line-height: 25px;
}

.body3 {
    background-image: url(../image/box3/magazine_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:1599px; 
    height: 1247px;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}

.body3-1 {
    position: relative;
    width: 879px;
    margin: 0 auto;

}

.body3-1 h1 {
    margin: 0;
    text-align: center;
    padding-top: 98px;
    padding-bottom: 33px;
}

.body3-1 h3 {
    position: relative;
    text-align: center;
    top: -100px;
    margin: 0;
}

.bp3 {
    position: relative;
    width: 820px;
    margin: 0 auto;
    top: -100px;
}

.bp3 p {
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    font-weight: lighter;
    line-height: 30px;
}

.body4 {
    margin: 0;
    background-color: #f4f4f4;
}

.body4-1 h1 {
    margin: 0 auto;
    background-color: #4c4c4c;
    padding-top: 130px;
    padding-bottom: 220px;
    text-align: center;
}

.body4-2 {
    position: relative;
    margin: 0 ;
    top: -25px;
    height: 870px;
}

.body4-2-1 {
    position:relative;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    width: 970px;
    top: -135px;
}

.body4-2-1right {
    position: relative;
    margin: 0;
    padding-left: 30px;
}

.body4-2-1right h1 {
    position: relative;
    margin: 0;
    padding-bottom: 40px;
    left: 50px;
    
}

.body4-2-1right p {
    margin: 0;
    padding-bottom: 40px;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    font-weight: lighter;
    line-height: 30px;
}

.body4-2-2 {
    position:relative;
    margin: 0 auto;
    align-items: flex-end;
    width: 970px;
    top: -135px;
    border-left: 1px #4c4c4c solid;
    border-right: 1px #4c4c4c solid;
    text-align: center;

}

.body4-2-2up {
    position: relative;
    margin: 0;
    display: flex;
    align-items: flex-end;
    width: 500px;
    left: 21%;
    
}

.body4-2-2up h1 {
    margin: 0;
    padding-right: 50px;
}

.body4-2-2down1 {
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    font-weight: lighter;
    margin: 0;
}
.body4-2-2down2 {
    width: 698px;
    text-align: right;
    font-size: 11px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    font-weight: lighter;
    margin: 0;
}

.body5 {
    background-image: url(../image/box5/less_ceramide_intro_bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size:1600px; 
    height: 470px;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}

.body5 img {
    position: relative;
    top: 38%;
    right: -15%;
}

.body6 {
    margin: 0;
}

.body6-1 {
    margin: 0 auto;
    width: 700px;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 140px;
}

.body6-1 h1 {
    padding-bottom: 40px;
}

.body6-1-1 {
    display: flex;
    justify-content: center;
    
}

.body6-1-1-1 {
    padding-right: 125px;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    font-weight: lighter;
    line-height: 24px;
}

.body6-1-1-2 {
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    font-weight: lighter;
    line-height: 24px;
}

.body7 {
    background-image: url(../image/box7/less_ceramide_summary_bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size:1600px; 
    height: 600px;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}

.body7 h1 {
    position: relative;
    top: 50%;
    right: -15%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 900px
}

.body8 {
    background-image: url(../image/box2/cv_bg.jpg);
    background-repeat: no-repeat;
    background-color:#edf1f1;
    background-position: center;
    background-size:1600px; 
    height: 1418px;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    border-top: 205px solid #edf1f1 ;
}

.body8-2 {
    position: relative;
    margin:0;
    text-align: center;
    top: 25px;
    height: 1189px;

}

.body8 h5 {
    position: absolute;
    width: 95%;
    height: 110%;
    left: 2.5%;
    top: -13%;
    border: #ede6d9 solid 8px;
    z-index: 998;
    box-sizing: border-box;
    margin: 0;
}

.body8 p {
    position: relative;
    top: -120px;
    margin: 0 auto;
    max-width: 680px;
    font-size: 12.5px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    font-weight: lighter;
    text-align: left;
    line-height: 25px;
}

.content2 {
    position: relative;
    margin: 0 auto;
    top: -100px;
}

.content2 h3 {
    position: relative;
    left: 50px;
    margin: 0 auto;
    width: 900px;
}

.content2 h4 {
    position: relative;
    top: -160px;
    margin: 0 auto;
}

.body9 {
    margin: 0;
}

.body9-1 {
    margin: 0;
    background-color: #5c606c;
    width: 100%;
    text-align: center;
}

.body9-1 h1 {
    padding-top: 140px;
    margin: 0;

}

.body9-2 {
    margin: 0;
    background-image: url(../image/box9/satisfaction_bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1450px; 
    height: 720px;
    box-sizing: border-box;
    
}

.body10 {
    margin: 0;
    text-align: center;
    height: 1600px;
    background-color: #e4e4e4;
}

.body10 h1 {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 50px;
}

.b10-1 {
    margin: 0;
    display: flex;
    justify-content: center;
}

.b10-1-1 h1 {
    margin: 0;
    padding: 0;
}

.b10-1-2 h1 {
    margin: 0;
    padding: 0;
}

.b10-1-1 {
    position: relative;
    margin: 0;
    right: 65px;
}

.b10-1-3 {
    position: relative;
    margin: 0;
    left: 65px;
}

.b10-1-1 h2{
    position: relative;
    margin: 0;
    top: 65px;
}

.b10-1-2 h2{
    position: relative;
    margin: 0;
    top: 65px;
    
}

.b10-1 h1 img {
    box-shadow: 0 10px 10px #666666;
    margin: 0;
}

.b10-1 h2 img{
    box-shadow: 0 10px 10px #666666;
    margin: 0;
}

.b10-1-3 img {
    box-shadow: 0 10px 10px #666666;
    margin: 0;
}

.body11 {
    margin: 0;
    background-image: url(../image/box11/users_voice_summary_bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1600px; 
    height: 612px;
    box-sizing: border-box;
    
}

.body11 h1 {
    margin: 0;
    position: relative;
    top: 50%;
    right: -57%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 400px;
}

.body12 {
    background-image: url(../image/box2/cv_bg.jpg);
    background-repeat: no-repeat;
    background-color:#edf1f1;
    background-position: bottom;
    background-size:1600px; 
    height: 1155px;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}

.body12-1 {
    position: relative;
    margin:0;
    text-align: center;
    height: 1155px;

}

.body12 h5 {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 2.5%;
    border: #ede6d9 solid 8px;
    z-index: 998;
    box-sizing: border-box;
    margin: 0;
}

.body12 p {
    position: relative;
    margin: 0 auto;
    max-width: 680px;
    font-size: 12.5px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    font-weight: lighter;
    text-align: left;
    line-height: 25px;
}

.content3 {
    position: relative;
    margin: 0 auto;
    padding-top: 150px;

}

.content3 h2 {
    padding-bottom: 35px;
    margin: 0;
}

.content3 h3 {
    position: relative;
    left: 50px;
    margin: 0 auto;
    width: 900px;
}

.content3 h4 {
    position: relative;
    top:-160px;
    margin: 0 auto;
}

.body13 {
    background-image: url(../image/box13/ingredients_bg.jpg);
    background-repeat: no-repeat;
    background-color:#dce4e4;
    background-position: top;
    background-size:1450px; 
    height: 1320px;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}

.body13 h1 {
    margin: 0;
    padding-top: 125px;
    padding-bottom: 80px;
    text-align: center;
}

.b13-1 {
    display: flex;
    position: relative;
    margin: 0;
    justify-content: center;
}

.b13-1-1 {
    position: relative;
    margin: 0;
    background-color: #ffffff;
    width: 450px;
    padding: 20px 20px 20px 20px;

}

.b13-1-1 h1 {
    padding-top: 0;
    padding-bottom: 5px;
    text-align: left;
}

.b13-1-1h2 img {
    width: 100%;
}

.b13-2-1 {
    position: relative;
    margin: 0;
    background-color: #ffffff;
    width: 450px;
    padding: 20px 20px 45px 20px;
    left: 20px;
}

.b13-2-2 {
    position: relative;
    margin: 0;
    background-color: #ffffff;
    width: 450px;
    padding: 20px 20px 42px 20px;
    top: 20px;
    left: 20px;
}

.b13-2-1 h1 {
    padding-top: 0;
    padding-bottom: 5px;
    text-align: left;
}

.b13-2-2 h1 {
    padding-top: 0;
    padding-bottom: 5px;
    text-align: left;
}

.bottle {
    position: absolute;
    z-index: 996;
    top: 40px;
    left: 370px;
}

.b13-1-1 p {
    position: relative;
    top: 0;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
}

.p13-1 p {
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
    padding-bottom: 10px;
}

.b13-2-1 p {
    position: relative;
    top: 0;
    width: 300px;
    left: -75px;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
}

.b13-2-2 p {
    position: relative;
    top: 0;
    width: 315px;
    left: -70px;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
    padding-bottom: 30px;
}

.p13-2 p {
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 18px;
    padding-bottom: 0;
}

.b13-2 {
    position: relative;
}

.body14 {
    background-image: url(../image/box14/clearserum_bg.jpg);
    background-repeat: no-repeat;
    background-color: #e4e4e4;
    background-position: top;
    background-size:1450px; 
    height: 1320px;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}

.body14 h1 {
    margin: 0;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 50px;
}

.body14 p {
    position: relative;
    margin: 0;
    top: 0;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
    padding-bottom: 30px;
}

.b14-1 {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    padding-top: 39px;
    background-color: #ffffff;
    box-shadow: 0 10px 10px #666666;
    
}

.b14-1-1 {
    position: absolute;
    left: 50px;
    bottom: 5px;
}

.b14-1-2 {
    position: relative;
    width: 700px;
    left: 250px;
}

.b14-1-2 img {
    margin: 0;
    padding-bottom: 7px;
}

.b14-1-2 p {
    margin: 0;
    padding-bottom: 42px;
}

.b14down {
    width: 995px;
    margin: 0 auto;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
    font-weight: lighter;
    padding-top: 20px;
}

.body15 {
    margin: 0;
}

.b15timg {
    margin: 0;
    text-align: center;
    padding-top: 122px;
}

.b15y {
    margin: 0;
    text-align: center;
    padding: 40px 0 60px 0;
}

.b15-1 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b15-1-2 {
    padding: 0 0 0 40px;
}

.b15-1-2 p {
    position: relative;
    top: 0;
    width: 420px;
    margin: 0;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
}

.b15-1gif {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.b151gif {
    padding: 0 60px 0 100px;
}

.gifp1 p {
    position: relative;
    top: 0;
    width: 580px;
    margin: 0;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
}

.b15y2 {
    margin: 0;
    text-align: center;
    padding: 0 0 60px 0;
}

.b15-2 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b15-2-2 {
    padding: 0 40px 0 0;
}

.b15-2-2 p {
    position: relative;
    top: 0;
    width: 430px;
    margin: 0;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
}

.b15-2-2p p {
    position: relative;
    top: 0;
    width: 430px;
    margin: 0;
    font-size: 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
}

.b15-2gif {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.b152gif {
    padding: 0 60px 0 100px;
}

.gifp2 p {
    position: relative;
    top: 0;
    width: 580px;
    margin: 0;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
}

.b15-3 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b15-3-2 {
    padding: 0 0 0 40px;
}

.b15-3-2 p {
    position: relative;
    top: 0;
    width: 420px;
    margin: 0;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
}

.b15-3gif {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.b153gif {
    padding: 0 60px 0 100px;
}

.gifp3 p {
    position: relative;
    top: 0;
    width: 580px;
    margin: 0;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
}

.b15-3-2p p {
    position: relative;
    top: 0;
    width: 430px;
    margin: 0;
    font-size: 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
}

.b15-4 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b15-4-2 {
    padding: 0 0 0 40px;
}

.b15-4-2 p {
    position: relative;
    top: 0;
    width: 420px;
    margin: 0;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
}

.b15-4gif {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.b154gif {
    padding: 0 60px 0 100px;
}

.gifp4 p {
    position: relative;
    top: 0;
    width: 580px;
    margin: 0;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
}

.b15-4-2p p {
    position: relative;
    top: 0;
    width: 430px;
    margin: 0;
    font-size: 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
}

.b15-5 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b15-5-2 {
    padding: 0 40px 0 0;
}

.b15-5-2 p {
    position: relative;
    top: 0;
    width: 430px;
    margin: 0;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
}

.b15-5-2p p {
    position: relative;
    top: 0;
    width: 430px;
    margin: 0;
    font-size: 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
}

.b15-5gif {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.b155gif {
    padding: 0 60px 0 100px;
}

.gifp5 p {
    position: relative;
    top: 0;
    width: 580px;
    margin: 0;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
}

.body16 {
    background-image: url(../image/box2/cv_bg.jpg);
    background-repeat: no-repeat;
    background-color:#edf1f1;
    background-position: top;
    background-size:1600px; 
    height: 1213px;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}

.body16-1 {
    position: relative;
    margin:0;
    text-align: center;
    height: 1213px;

}

.body16 h5 {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 2.5%;
    border: #ede6d9 solid 8px;
    z-index: 998;
    box-sizing: border-box;
    margin: 0;
}

.body16 p {
    position: relative;
    margin: 0 auto;
    max-width: 680px;
    font-size: 12.5px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    font-weight: lighter;
    text-align: left;
    line-height: 25px;
}

.body16-1 h1 {
    text-align: center;
}

.content4 {
    position: relative;
    margin: 0 auto;
    padding-top: 130px;

}

.content4 h2 {
    padding-bottom: 35px;
    margin: 0;
}

.content4 h3 {
    position: relative;
    left: 50px;
    margin: 0 auto;
    width: 900px;
}

.content4 h4 {
    position: relative;
    top:-160px;
    margin: 0 auto;
}

.footer {
    background-color:#ede6d9;
    text-align: center;
}

.footer h1 {
    margin: 0;
    text-align: center;
    padding: 40px 0 0 0;
}

.footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.footer li {
    padding: 0 16px 0 16px;
    border-right: #2b2b2b solid 1px;
}

.list li {
    position: relative;
    margin: 0;
    font-size: 12.5px;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;;
    text-align: left;
    line-height: 25px;
    top: 0;
    color: #2b2b2b;
}

.bore li {
    border: none;
}

.under {
    text-decoration: underline;
}

.fdown {
    padding-bottom: 80px;
}