div.changed {
	position: absolute;
	width:300px;
	height:180px;
    border:2px solid black;
	background:aqua;
	padding:18px;
}
 
div,
input[type=checkbox]:checked ~ div {
	transition-duration: 0.5s;
	transition-delay: 0
}
input[type=checkbox]:checked ~ div.changed {
	font-size: 36px;
}