html, body {
    font-family: serif;
    font-size: 14px;
    position: relative; /* 今の位置を基準 */
    top: 5px;
  }
  
  .countdown-container {
    font-family: "MS 明朝";
    color: rgb(58, 58, 58);
    margin: 7rem;
    margin-top: 10px;
    position: relative; /* 今の位置を基準 */
    left: 20px; /* 左から20px */
  }
  
  .time-container {
    display: flex;
    padding-left: 15px;
    font-size: 15px;
    width: 500px;
    background: #eedeff;
    box-shadow: 0px 0px 0px 10px #eedeff;
    border-radius: 70px;/*角の丸み*/
    border: dashed 2px white;/*線*/
    font-weight: bold;
    }
  
  .time {
    margin: .5rem;
    border-radius: 1rem;
    padding: 2rem;
  }
  
  #hour,#min,#sec {
    color: rgb(58, 58, 58);
    font-size: 3rem;
    margin-right: 1rem;
    border-bottom: solid 5px #ffffff;
  }

  