body{
    background-color: rgb(255, 215, 179);
}


h1{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    color: brown;
}

hr {
    height: 5px;
    background-color: rgba(255, 166, 0, 0.829);
    width: 60%;
    border: none;
   }

p{
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
    text-shadow: 0 0 20px #bd840a;
    color: brown;
}