html, body {
    font-family: serif;
    font-size: 16px;
  }
  
  /*全体が動いちゃうので動かさない*/
  .countdown-container {
    margin: 5rem;
  }
  
  /*日のところのサイズとか*/
  .time-container1 {
    display: flex;
    flex-wrap:  wrap;
  }
 
  /*時間のところのサイズとか*/
  .time-container2 {
    margin-top: 10px;
    display: flex;
    flex-wrap:  wrap;
    top: 10rem;
  }
  
  /*日のところの四角の色合い*/
  .day {
    margin: .4rem;
    background-color: rgb(228, 100, 26);
    border-radius: 1rem;
    padding: 2rem;
  }

  /*時間のところの四角の色合い*/
  .time {
    margin: .4rem;
    background-color: rgb(243, 170, 96);
    border-radius: 1rem;
    padding: 2rem;
  }
  
  /*時間のフォントサイズ　いじらないでOK*/
  #days,#hour,#min,#sec {
    font-size: 3rem;
    margin-right: 1rem;
  }