body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
    color: #333;
    text-align: justify;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}

p {
    font-size: 1.3rem;
    line-height: 2;
}

a {
    color: #333;
}

ul {
    list-style: none;
}

li {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 0 35px;
}

.container h1, .container h2, .container h3,
.container h4, .container h5, .container h6 {
    font-size: 2rem;
    line-height: 1.4;
}

.container *, .container *::before,
.container *::after {
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    background-color: #ede6d9;
    text-align: center;
    z-index: 999;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.15);
    transition: all .5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.main {
    padding-top: 70px;
    background: #e2e4e3 url(../img/mv_bg.jpg) no-repeat center bottom;
}

.main-inner {
    width: 1000px;
    height: 830px;
    margin: 0 auto;
    position: relative;
}

.main-inner h1 {
    text-align: center;
    position: absolute;
    top: 94px;
    left: 0;
    right: 0;
    margin: auto;
}

.main-inner p {
    position: absolute;
    left: 125px;
    top: 260px;
}

.buy {
    background: #edf1f1 url(../img/cv_bg.jpg) no-repeat center bottom;
    padding: 5%;
    position: relative;
}

.buy-inner {
    width: 1000px;
    margin: 0 auto;
}

.buy-inner h2 {
    margin: 70px 0 40px;
    text-align: center;
}

.buy-inner h3 {
    margin: 40px 0 40px;
    text-align: center;
}

.contents {
    margin-left: 152px;
}

.btn {
    width: 560px;
    position: relative;
    z-index: 10;
    margin-top: -155px;
    margin-left: 221px;
    margin-bottom: 3.125%;
}

.content {
    width: 678px;
    margin-top: 50px;
    margin-left: 165px;
    margin-bottom: 40px;
    font-size: .8rem;
}

.buy::after {
    position: absolute;
    content: "";
    width: 95%;
    height: 95%;
    left: 2.5%;
    top: 2.5%;
    border: #ede6d9 solid 8px;
    z-index: 1;
}

.b3 {
    padding: 7%;
}

.mgz {
    padding: 100px 0 80px;
    background: url(../img/magazine_bg.png) no-repeat center top;
}

.mgz-inner {
    width: 1000px;
    margin: 0 auto;
}

.mgz-inner h2 {
    text-align: center;
    margin-bottom: 60px;
}

.mgz-pic {
    text-align: center;
    margin-bottom: -70px;
}

.comments {
    width: 830px;
    margin: 0 auto;
}

.comment {
    margin-bottom: 20px;
}

.txt {
    color: #404040;
    font-size: 1rem;
}

.whats {
    background-color: #f1f1f1;
    padding-bottom: 100px;
}

.whats-inner {
    background-color: #4d4d4d;
    padding: 130px 0 230px;
    text-align: center;
}

.whats-about {
    position: relative;
    width: 1000px;
    height: 390px;
    margin: 0 auto;
}

.whats-about p {
    position: absolute;
}

.whats-about .comment {
    left: 259px;
    top: -82px;
}

.about {
    left: 200px;
    top: 165px;
}

.whats-about .txt {
    left: 200px;
    top: 233px;
    font-size: 1rem;
}

.etvos {
    left: 34px;
    top: -117px;
}

.whats-img {
    width: 1000px;
    margin: 0 auto;
    background-color: #f1f1f1;
}

.ex {
    text-align: center;
    border-left: #ccc solid 1px;
    border-right: #ccc solid 1px;
}

.ex .comment {
    display: inline-block;
    width: 45%;
    text-align: right;
    padding-right: 40px;
}

.illust {
    display: inline-block;
    width: 45%;
    text-align: left;
    padding-left: 10px;
}

.ex .txt {
    font-size: .9rem;
    margin-top: 3%;
    text-align: right;
    display: inline-block;
}

span {
    font-size: 78%;
}

.why-inner {
    background: #b3b7a3 url(../img/less_ceramide_intro_bg.jpg) no-repeat center top;
}

.why-inner h2 {
    width: 1000px;
    margin: 0 auto;
    padding: 180px 0;
}

.cause {
    width: 1000px;
    margin: 0 auto;
    padding: 160px 0;
}

.cause ul {
    text-align: center;
}

.cause h3 {
    text-align: center;
    margin-bottom: 70px;
}

.cause .txt {
    margin-top: 20px;
    text-align: center;
    color: #555555;
    font-size: .9rem;
}

.so {
    background: #ededef url(../img/less_ceramide_summary_bg.jpg) no-repeat center top;
    height: 600px;
}

.so p {
    width: 1000px;
    margin: 0 auto;
    padding: 188px 0 0;
}

.result {
    text-align: center;
    padding: 135px 0 50%;
    background: #5e606b url(../img/satisfaction_bg.jpg) no-repeat center bottom;
    background-size: 100% auto;
}

.voice {
    background-color: #f7f7f7;
    padding: 130px 0;
}

.voice-inner {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.voice-inner h2 {
    margin-bottom: 80px;
}

.sns {
    display: table;
    width: 1000px;
    margin: 0 auto;
}

.sns p {
    margin-bottom: 54px;
    display: inline-block;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
}
.left {
    display: table-cell;
    vertical-align: top;
    width: 33%;
    text-align: left;
}

.center {
    display: table-cell;
    vertical-align: top;
    width: 33%;
    text-align: center;
}

.right {
    display: table-cell;
    vertical-align: top;
    width: 33%;
    text-align: right;
}

.voice-summary {
    background: #fff url(../img/users_voice_summary_bg.jpg) no-repeat center top;
    height: 612px;
}

.voice-summary p {
    width: 1000px;
    padding: 106px 0 0 607px;
    margin: 0 auto;
}

.points {
    background: #dce4e8 url(../img/ingredients_bg.jpg) no-repeat center top;
    background-size: 100% auto;
    padding: 130px 0;
}

.points-inner {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.points h2 {
    text-align: center;
    margin-bottom: 80px;
}

.points .points-inner .point {
    background-color: #FFF;
    width: 490px;
    padding: 20px;
}

.points .points-inner .point1 {
    float: left;
    height: 540px;
}

.points .points-inner .point h3 {
    margin-bottom: 20px;
    margin-top: 0;
}

.points .points-inner .point p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1em;
    margin-top: 0;
}

.points-inner .point2 {
    margin-left: 510px;
    margin-bottom: 20px;
    height: 200px;
}

.points-inner .point3 {
    margin-left: 510px;
    height: 320px;
}

.points-inner .point2 p, .points-inner .point3 p {
    padding-right: 140px;
}

.points .bottle {
    position: absolute;
    right: 0;
    top: 540px;
}

.point .note {
    display: block;
    line-height: 1.6;
}

.serum {
    background: #d3d6d5 url(../img/clearserum_bg.jpg) no-repeat center top;
    background-size: 100% auto;
    padding: 170px 0 100px;
}

.serum-inner {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.serum h2 {
    text-align: center;
    margin-bottom: 60px;
}

.serum-inner .point {
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 15px 0px rgba(4,0,0,0.16);
    margin-bottom: 20px;
    padding: 40px 40px 40px 250px;
}

.serum .point>div {
    margin-bottom: 40px;
}

.serum h3 {
    margin-bottom: 15px;
}

.serum .point p {
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
}

.serum .point p:last-child {
    margin-bottom: 0;
}

.serum .note {
    display: block;
    line-height: 1.6;
    font-size: .9rem;
}

.serum .etvos {
    position: absolute;
    left: 45px;
    top: 222px;
}

.steps {
    padding: 130px 0;
}

.step-inner {
    width: 1000px;
    margin: 0 auto;
}

.steps h2 {
    margin: 0 0 50px;
    text-align: center;
}

.steps .arw {
    margin: 0 0 70px;
    text-align: center;
}

.step-section .read {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.step-read {
    font-size: 1rem;
    line-height: 1.6;
}

.step-section .pic {
    flex-basis: 540px;
}

.step-section .txt {
    flex: 1;
    padding: 0 0 0 40px;
}

.reverse .txt {
    padding: 0 40px 0 0;
}

.txt h3 {
    margin-bottom: 30px;
}

.mv {
    display: table;
    margin-bottom: 20px;
}

.step-mv {
    display: table-cell;
    vertical-align: middle;
    width: 420px;
    padding: 0 50px 0 70px;
}

.step-txt {
    display: table-cell;
    vertical-align: middle;
}

.step-txt h4 {
    font-size: 1rem;
}

.step-txt li {
    padding-left: 1em;
    text-indent: -1em;
}

.reverse {
    flex-direction: row-reverse;
}

footer {
    background-color: #ede6d9;
    padding: 40px 0;
}

.tel {
    margin-bottom: 20px;
    text-align: center;
}

footer ul {
    text-align: center;
    line-height: 1;
}

footer li:first-child {
    border-left: none;
}

footer li {
    display: inline;
    font-size: .9rem;
    padding: 0 1em 0;
}

footer li a {
    font-weight: normal;
}

.copy {
    text-align: center;
    font-size: .9rem;
    margin: 2em 0;
}