@font-face {
  font-family: "Audrey-Normal";
  src: url("../font/Audrey-Normal.otf") format("opentype");
}
@font-face {
  font-family: "Audrey-Medium";
  src: url("../font/Audrey-Medium.otf") format("opentype");
}
:root{
  --font-shippori: "Shippori Mincho B1", serif;
  --font-Inter: "Inter", sans-serif;
  --font-Cardo: "Cardo", serif;
  --font-Audrey-Normal: "Audrey-Normal", serif;
}

*,*::before,*::after{box-sizing:border-box}
body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}
ul[role="list"],ol[role="list"]{list-style:none}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;height: auto;vertical-align: top;}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

*:focus {
  outline: none;
}

body,a,p{
  color: #000000;
  font-family: var(--font-shippori);
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  line-height: 2.2;
  letter-spacing: 0.08rem;
  -webkit-font-smoothing: antialiased;
}
body{
  position: relative;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
.pc{
  display: block;
}
.sp{
  display: none;
}
.slide-box{
  max-width: 100%;
  overflow: hidden;
}

/* アニメーション */
.header-slideright{
  animation: slideright;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 1.8s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slideright{
  0% {
    opacity: 0.95;
    transform: translate(-20%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.header-zoomin{
  animation-name: header-zoomin;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes header-zoomin{
  0% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.fade{
  opacity: 0;
}
.header-fade,
.fade.active{
  animation-name: fade;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fade{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.clippath-left{
  opacity: 0;
}
.clippath-left.active,
.header-clippath-left{
  animation-name: clippath-left;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes clippath-left{
  0% {
    opacity: 0;
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  100% {
    opacity: 1;
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}
.clippath-right{
  opacity: 0;
}
.header-clippath-right,
.clippath-right.active{
  animation-name: clippath-right;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes clippath-right{
  0% {
    opacity: 1;
    filter: blur(3px);
    -webkit-clip-path: inset(0 0 0 100%);
    clip-path: inset(0 0 0 100%);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}
.slideup{
  opacity: 0;
}
.header-slideup,
.slideup.active{
  animation: slideup;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes slideup{
  0% {
    opacity: 0;
    transform: translate(0, 10%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.slideleft{
  opacity: 0;
}
.slideleft.active,
.header-slideleft{
  animation: slideleft;
  animation-duration: 2.4s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  will-change: transform;
  opacity: 0;
}
@keyframes slideleft{
  0% {
    opacity: 0;
    transform: translate(-30px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.zoomin{
  opacity: 0;
}
.zoomin.active{
  animation: zoomin;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes zoomin{
  0%{
    opacity: 0;
    transform: scale(1.2);
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
/* header */
.header{
  position: relative;
  aspect-ratio: 1280 / 720;
  overflow: hidden;
}
.header .image{
  width: 100%;
}
.header .back-graoud{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.header .back-graoud .image{
  width: 100%;
}
.header .photo-box{
  position: absolute;
  top: 51%;
  right: 1%;
  translate: 0 -50%;
  display: flex;
  justify-content: space-between;
  width: calc(796 / 1280 * 100%);
}
.header .photo-box .photo{
  width: calc(260 / 796 * 100%);
}
.header .photo-box .photo .image{
  animation-delay: 1.6s;
} 
.header .logo{
  position: absolute;
  top: 19%;
  left: 7.5%;
  width: calc(341.9072 / 1280 * 100%);
}
.header .title01{
  position: absolute;
  top: 44%;
  left: 3.25%;
  width: calc(449.8893 / 1280 * 100%);
}
.header .title01 .image{
  animation-delay: 2.2s;
}
.header .title02{
  position: absolute;
  top: 74.5%;
  left: 14%;
  width: calc(319.5742 / 1280 * 100%);
}
.header .title02 .image{
  animation-delay: 2.4s;
}
.header .title03{
  position: absolute;
  top: 77%;
  left: 30%;
  width: calc(133.9422 / 1280 * 100%);
}
.header .title03 .image{
  animation-duration: 0.6s;
  animation-delay: 2.8s;
}
.header .scroll{
  position: absolute;
  bottom: 20%;
  left: 5%;
  width: 2%;
  margin: 0 auto;
  animation-delay: 3.6s;
}
.header .scroll-inner{
  position: relative;
}
.header .scroll-inner .image{
  width: 45%;
}
.header .scroll-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: -32%;
  transform: translateX(-50%);
  width: 1px;
  height: 170px;
  background: rgba(000, 000, 000, .2);
  z-index: 1;
}
.header .scroll-inner::after {
  content: '';
  position: absolute;
  top: 0;
  left: -32%;
  transform: translateX(-50%);
  width: 1px;
  height: 170px;
  background: #000;
  animation: sdl 2s cubic-bezier(1, 0, 0, 1) infinite;
  z-index: 1;
}
@keyframes sdl{
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
/* lead */
.lead{
  position: relative;
  padding: 6% 0;
  text-align: center;
}
.lead::after{
  content: "";
  display: block;
  width: 1px;
  height: 4rem;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
}
.lead .title{
  width: calc(363.1675 / 1280 * 100%);
}
.lead .text{
  margin-top: 1em;
  font-size: calc(15 / 1280 * 100vw);
  line-height: 2.4;
  letter-spacing: 0;
}
/* リンクボックス */
.link-box{
  margin: 0 auto;
}
.link-box .main{
  padding-bottom: 1em;
  border-bottom: 1px solid #8e8e8f;
}
.link-box .other{
  padding-top: 4%;
}
.cart-btm{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
  margin-bottom: 0.3em;
  color: #fff;
}
.cart-title{
  position: relative;
  font-size: calc(15.8105 / 1280 * 100vw);
  line-height: 1.4;
  letter-spacing: 0.02rem;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
}
.cart-yen{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0 0 auto;
  line-height: 1.4;
  font-size: calc(15.8105 / 1280 * 100vw);
  letter-spacing: 0.06rem;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
}
.cart-yen img{
  width: 1em;
  margin: 0 0.5em 0 0;
}
.cart-yen .size-space{
  margin-right: 1.06em;
}
.cart-yen span{
  margin: 0 0 -2px 2%;
  font-size: calc(9.0346 / 1280 * 100vw);
}
.cart-btm .btn{
  margin: 0 0 0 0.5%;
  padding: 0.4em 0.8em;
  border: 1px solid #8E8E8E;
  color: #8E8E8E;
  font-family: var(--font-Inter);
  font-size: calc(10.6904 / 1280 * 100vw);
  line-height: 1em;
}
.main .cart-btm .btn{
  color: #fff;
}
.btn-arrow{
  position: relative;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}
.btn-arrow span {
  display: inline-block;
  position: relative;
  letter-spacing: 0.02rem;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: transform;
}
.btn-arrow img{
  position: absolute;
  width: 1.1em;
  right: 0px;
  right: 0rem;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: right, opacity;
}
.cart-btm:hover .btn-arrow span {
  -webkit-transform: translate3d(-0.5em, 0, 0);
  transform: translate3d(-0.5em, 0, 0);
}
.btn-arrow img{
  position: absolute;
  width: 1.1em;
  right: 0px;
  right: 0rem;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: right, opacity;
}
.btn-arrow img *{
  stroke-width: 5;
  -webkit-text-stroke-color: transparent;
}
.cart-btm:hover .btn-arrow img {
  opacity: 1;
  right: -1em;
}
/* アコーディオン */
.accordion .toggle{
  display: none;
}
.accordion .accordion-btn,
.accordion .text-area{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: all 0.3s;
}
.accordion .accordion-btn{
  position: relative;
  display: block;
  margin-top: 1em;
  font-size: calc(15.8105 / 1280 * 100vw);
  line-height: 1.2;
  letter-spacing: 0;
  cursor:pointer;
  transition: all 0.6s;
}
.accordion .accordion-btn::before,
.accordion .accordion-btn::after{
  content: "";
  display: block;
  width: 0.65em;
  height: 1px;
  background: #000;
  position: absolute;
  right: 1%;
  top: 44%;
  transform: translate(-50%, -50%);
  transition: all 0.6s;
}
.accordion .accordion-btn::before{
  transform: translate(-50%, -50%) rotate(90deg);
}
.accordion .other .cart-btm:last-child{
  padding-bottom: 1em;
}
.accordion .other{
  max-height: 0;
  overflow: hidden;
}
.accordion .other p,
.accordion-btn + .other{
  transition: all 0.6s;
}
.accordion .other p,
.toggle:checked + .accordion-btn + .other{
  max-height: 500px;
  transition: all 1.5s;
}
.toggle:checked + .accordion-btn::before{
  transform: translate(-50%, -50%) rotate(0deg);
}
/* メインアイテム--------------------------- */
.mainitem{
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}
.mainitem .image{
  width: 100%;
}
.mainitem .logo{
  display: block;
  width: calc(181.1019 / 1280 * 100%);
  margin: 0 auto;
}
.mainitem .title{
  position: relative;
  right: 1.5%;
  width: calc(444.9656 / 1280 * 100%);
  margin: 2% auto 0;
  z-index: 2;
}
.mainitem .photo-box{
  position: relative;
  width: calc(844 / 1280 * 100%);
  margin: -1% auto 0;
}
.mainitem .photo-box .photo .image{
  width: 100%;
}
.mainitem .photo-box .point01{
  position: absolute;
  top: 27%;
  left: 14%;
  width: calc(159.4418 / 844 * 100%);
  z-index: 2;
}
.mainitem .photo-box .point02{
  position: absolute;
  top: 42%;
  right: 3%;
  width: calc(243.7021 / 844 * 100%);
  z-index: 2;
}
.mainitem .photo-box .point03{
  position: absolute;
  top: 64%;
  left: 55%;
  width: calc(241.4666 / 844 * 100%);
  z-index: 2;
}
.mainitem .link-box{
  position: relative;
  width: calc(313.869 / 1280 * 100%);
  margin: -1% 21% 0 auto;
  z-index: 2;
}
.mainitem .link-box .main{
  border: none;
}
.mainitem .link-box .btn{
  background: #A98881;
  border: #A98881;
}
/* style-wrapper -------------------------*/
.style-wrapper{
  position: relative;
  margin-top: 12%;
  overflow: hidden;
}
.style-wrapper .box01,
.style-wrapper .box02{
  display: flex;
}
.white .box01{
  position: relative;
  left: 6%;
  flex-direction: row-reverse;
}
.style-wrapper .box01-1{
  width: calc(680 / 1280 * 100%);
  overflow: hidden;
}
.black .box01-1 .title{
  width: calc(356.7778 / 680 * 100%);
}
.white .box01-1 .title{
  width: calc(352.1048 / 680 * 100%);
}
.moca .box01-1 .title{
  width: calc(274.3377 / 680 * 100%);
}
.style-wrapper .box01-2{
  width: calc(600 / 1280 * 100%);
}
.style-wrapper .box02{
  position: relative;
  left: 21%;
  width: calc(814.8 / 1280 * 100%);
  margin-top: -11%;
}
.style-wrapper .box02 .photo-link{
  display: block;
  width: calc(460 / 814.8 * 100%);
}
.style-wrapper .box02 .link-box{
  margin: 46% auto 0 4%;
}
.style-wrapper .color{
  padding-top: 1%;
}
.black .color{
  margin-top: 14%;
}
.white .color{
  margin-top: 16%;
  margin-right: 30%;
  text-align: right;
}
.moca .color{
  margin-top: 14%;
}
.style-wrapper .name{
  position: relative;
  font-family: var(--font-Audrey-Normal);
  font-size: calc(70.4728 / 1280 * 100vw);
  line-height: 1;
  letter-spacing: 0.1em;
}
.black .name{
  position: relative;
  left: 21%;
}
.moca .name{
  position: relative;
  right: 27%;
  text-align: right;
}
.style-wrapper .name::after{
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}
.black .name::after{
  right: 22%;
  width: 17vw;
  background: #000;
}
.white .name::after{
  left: 0;
  width: 12vw;
  background: #C89B78;
}
.moca .name::after{
  right: 42%;
  width: 7vw;
  background: #A98881;
}
.style-wrapper .name span{
  animation-duration: 0.2s;
}
.style-wrapper .name span:nth-child(1){
  animation-delay: 0.6s;
}
.style-wrapper .name span:nth-child(2){
  animation-delay: 0.7s;
}
.style-wrapper .name span:nth-child(3){
  animation-delay: 0.8s;
}
.style-wrapper .name span:nth-child(4){
  animation-delay: 0.9s;
}
.style-wrapper .name span:nth-child(5){
  animation-delay: 1s;
}
.black .text-box,
.moca .text-box{
  position: relative;
  left: 30%;
}
.black .text-box{
  margin-top: 19%;
}
.white .text-box{
  position: relative;
  left: 10%;
  margin-top: 16%;
}
.moca .text-box{
  margin-top: 12%;
}
.style-wrapper .text-box .image{
  width: 100%;
}
.style-wrapper .text{
  margin-top: 7%;
  width: calc(360 / 1280 * 100vw);
  text-align: justify;
  font-size: calc(16 / 1280 * 100vw);
  line-height: 2;
  letter-spacing: 0;
}
.style-wrapper .link-box{
  width: calc(315.424 / 1280 * 100vw);
  margin: 6% auto 0 10%;
}
.black .link-box .main .btn{
  background: #000000;
  border: #000000;
}
.white .link-box .main .btn{
  background: #CFB58A;
  border: #CFB58A;
}
.moca .link-box{
  margin-left: 30%;
  margin-top: 10%;
}
.moca .link-box .main .btn{
  background: #A98881;
  border: #A98881;
}
/* archive ---------------------------------*/
.archive{
  margin-top: 10%;
}
.archive .title{
  text-align: center;
  font-family: var(--font-Audrey-Normal);
  font-size: calc(40.4728 / 1280 * 100vw);
  line-height: 1;
}
.archive .list{
  display: flex;
  justify-content: center;
  gap: 1%;
  margin-top: 1%;
}
.archive .list .item{
  width: calc(306 / 1280 * 100%);
}
.archive .list .item .image{
  transition: 0.4s ease;
}
.archive .list .item:hover .image{
  opacity: 0.7;
}
.archive .list .item .day{
  margin-top: 2%;
  font-family: var(--font-Audrey-Normal);
  font-size: calc(18 / 1280 * 100vw);
  text-align: center;
  line-height: 1;
}
/*banner-block------------------------------*/
.banner-block{
  width: 100%;
  max-width: 1200px;
  margin: 5% auto 0;
  position: relative;
  z-index: 1;
}
.c-btn01{
  width: 56%;
  margin: 0 auto 2% auto;
  border: 1px solid #666;
  display: block;
  transition: 0.6s ease-in-out;
}
.c-btn01:hover{
  border-color: #000;
}
.end-box{
  width: 100%;
  max-width: 1000px;
  margin: 5% auto 0;
}
.end-box .txt{
  font-size: 14px;
  letter-spacing: 0;
  line-height: 2em;
  text-align: center;
}
/* footer */
.footer{
  color: #000;
  letter-spacing: 0.3em;
  padding: 0 0 2% 0;
  position: relative;
  text-align: center;
}
.footer a{
  transition: 0.3s ease-in-out;
}
.footer a:hover img{
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}
.footer_sns {
  display: inline-block;
  width: 2.5%;
  margin: 3% auto 0;
}
.f-ow {
  width: 120px;
  margin: 25px auto 0 auto;
}
.copyright {
  font-family: "Helvetica",serif;
  font-size: 10px;
  letter-spacing: 0.02em;
  margin: 34px 0 0;
}
.pagetop{
  position: fixed;
  right: 30px;
  bottom: 20px;
  width: 35px;
  z-index: 99;
}
.pagetop .image{
  vertical-align:top;
}

@media screen and (max-width:767px){
  .pc{
    display: none;
  }
  .sp{
    display: block;
  }

  /* header */
  .header{
    aspect-ratio: 375 / 706;
  }
  .header .logo{
    top: 67%;
    left: 50%;
    translate: -50% 0;
    width: calc(213 / 375 * 100%);
  }
  .header .title01{
    top: 77.45%;
    left: 4%;
    width: calc(331.303 / 375 * 100%);
    z-index: 2;
  }
  .header .title01 .image{
    animation-delay: 1.5s;
  }
  .header .title02{
    top: 51%;
    left: 38%;
    width: calc(209.0459 / 375 * 100%);
    z-index: 2;
  }
  .header .title03{
    top: 54.5%;
    left: 59%;
    width: calc(72.6786 / 375 * 100%);
    z-index: 2;
  }
  /* lead */
  .lead{
    margin-top: 6%;
    padding-bottom: 24%;
  }
  .lead .title{
    width: calc(208.8465 / 375 * 100%);
  }
  .lead .text{
    margin-top: 4%;
    font-size: calc(15 / 375 * 100vw);
  }
  /* リンクボックス */
  .mainitem .link-box,
  .black .link-box,
  .white .link-box,
  .moca .link-box,
  .style-wrapper .box02 .link-box{
    position: relative;
    right: auto;
    left: auto;
    top: auto;
    bottom: auto;
    width: calc(313.0693 / 375 * 100%);
    margin: 12% auto 0;
  }
  .mainitem .link-box{
    margin-top: 3%;
  }
  .link-box .main{
    padding-bottom: 2%;
  }
  .link-box .mix{
    padding-top: 5%;
  }
  .link-box .cart-btm{
    margin-top: 0.1px;
    margin-bottom: 3%;
    border-bottom: 1px solid rgba(0,0,0,0);
  }
  .cart-title{
    font-size: calc(16 / 375 * 100vw);
    line-height: 1.2;
    letter-spacing: 0.06rem;
  }
  .size-area {
    margin: -1.25em auto 0.5em;
  }
  .size-area a{
    font-size: calc(16 / 375 * 100vw);
  }
  .cart-yen{
    font-size: calc(16 / 375 * 100vw);
    line-height: 1.2;
    letter-spacing: 0.04rem;
  }
  .cart-yen .size-space{
    margin-right: 0.84rem;
  }
  .cart-yen.price img {
    margin-right: 0.81rem
  }
  .cart-yen span{
    margin: auto 0 2px 3px;
    font-size: calc(10 / 375 * 100vw);
  }
  .cart-btm .btn{
    margin-left: 1%;
    padding: 1.8% 3%;
    font-size: calc(10.6904 / 375 * 100vw);
  }
  .accordion .accordion-btn{
    font-size: calc(16 / 375 * 100vw);
    line-height: 0.9rem;
  }  
  /* mainitem----------------------- */
  .mainitem{
    margin-top: 8%;
    overflow: hidden;
  }
  .mainitem .logo{
    width: calc(187.5 / 375 * 100%);
  }
  .mainitem .title{
    width: calc(294.306 / 375 * 100%);
    margin-top: 2%;
  }
  .mainitem .photo-box{
    width: 100%;
    margin: 3% auto 0;
  }
  .mainitem .photo-box .point01{
    top: 5%;
    left: 8%;
    width: calc(159.9575 / 375 * 100%);
  }
  .mainitem .photo-box .point02{
    top: 56%;
    right: 7%;
    width: calc(134.6298 / 375 * 100%);
  }
  .mainitem .photo-box .point03{
    top: 74%;
    left: 9%;
    width: calc(175.6597 / 375 * 100%);
  }

  /* style-box--------------------------- */
  .style-wrapper .box01, .style-wrapper .box02{
    left: auto;
    flex-direction: column;
    width: 100%;
  }
  .style-wrapper .box02{
    left: auto;
    margin-top: 4%;
  }
  .style-wrapper .box02 .photo-link{
    display: block;
    width: calc(340 / 375 * 100%);
    margin-left: auto;
    margin-right: 0;
  }
  .style-wrapper .box02 .link-box{
    position: relative;
    top: auto;
    right: auto;
  }
  .style-wrapper .box01-1,
  .style-wrapper .box01-2{
    width: 100%;
    display: contents;
  }
  .style-wrapper .box01-2{
    margin-top: 4%;
  }
  .style-wrapper .box01-2 .photo-link{
    order: 3;
  }
  .black .color{
    margin-left: 10%;
  }
  .white .color{
    margin-right: 11%;
  }
  .style-wrapper .name{
    font-size: calc(45 / 375 * 100vw);
    order: 1;
  }
  .black .name{
    left: 0;
  }
  .moca .name{
    left: 10%;
    text-align: left;
  }
  .black .name::after{
    right: 0;
    width: 42vw;
  }
  .white .name::after{
    width: 29vw;
  }
  .moca .name::after{
    right: 0;
    width: 53vw;
  }
  .black .text-box, .white .text-box, .moca .text-box{
    left: 10%;
    display: contents;
  }
  .style-wrapper .box01-1 .title{
    position: relative;
    left: 10%;
    margin: 6% 0;
  }
  .black .box01-1 .title{
    width: calc(286.6739 / 375 * 100%);
  }
  .white .box01-1 .title{
    width: calc(281.6838 / 375 * 100%);
  }
  .moca .box01-1 .title{
    width: calc(219.4702 / 375 * 100%);
  }
  .style-wrapper .text{
    width: calc(300 / 375 * 100%);
    margin: 4% auto 0;
    font-size: calc(16 / 375 * 100vw);
    order: 4;
  }
  .style-wrapper .link-box{
    order: 5;
  }
  /* アーカイブ----------------------- */
  .archive{
    margin-top: 24%;
  }
  .archive .title{
    font-size: calc(35 / 375 * 100vw);
  }
  .archive .list{
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
  }
  .archive .list .item{
    width: calc(306 / 375 * 100%);
    margin-bottom: 6%;
  }
  .archive .list .item .day{
    font-size: calc(18 / 375 * 100vw);
    margin-top: 4%;
  }
  /* フッター */
  .end-box{
    margin: 8% auto;
  }
  .end-box .txt{
    font-size: 0.75rem;
  }
  .banner-block{
    margin-top: 14%;
    margin-bottom: 10%;
  }
  .c-btn01{
    width: 80%;
    margin-bottom: 6%;
  }
  .footer{
    padding-bottom: 6%;
  }
  .footer_sns{
    width: 8vw;
  }
  .f-ow{
    width: 120px;
    margin: 3% auto 0 auto;
  }
  .copyright{
    font-size: 10px;
    letter-spacing: 0.02em;
    margin: 5% 0 0 0;
  }
  .pagetop{
    right: 0;
    bottom: 0;
    width: calc(45 / 375* 100%);
  }
}
/* PC ナビ */
nav {
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  width: 18%;
  min-width: 90px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav ul li.current a {
  color: #F33135;
}

nav ul li a:hover {
  color: #E7DA66;
}

/* ▼ ハンバーガーメニュー */
.hamburger {
  display: none; /* PCでは非表示 */
  width: 30px;
  cursor: pointer;
  position: relative;
  z-index: 9999;
}

.hamburger span {
  display: block;
  height: 3px;
  background: #333;
  margin: 6px 0;
  transition: 0.3s;
}

/* ▼ スマホのとき */
@media (max-width: 768px) {

  nav {
    display: none;    /* ← これが一番重要！ */
    background: white;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px 0;
  }

  nav.open {
    display: block;  /* ハンバーガー押したら表示 */
  }

  .hamburger {
    display: block;  /* スマホでは表示 */
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }
}