@charset "UTF-8";
/* 共通項目 */
html{
    font-size: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: "游明朝体","Yu Mincho",YuMincho,"ヒラギノ明朝 Pro","Hiragino Mincho Pro","MS P明朝","MS PMincho",serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.8;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
img{
    vertical-align:top;
}

/* ヘッダー */
header{
    background-color: #8E1717;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 50;
}
header img{
    margin: 10px 0;
}
header img:hover{
    filter: brightness(0.8);
}

/*トップビュー*/
.top_view{
    background: url(../image/main_bg.jpg) no-repeat center top;
    text-align: center;
}

/*インフォ*/
.info{
    margin: 40px auto;
}
.info p{
    margin: 15px;
}
.info .last{
    margin: 0;
}
.heads_up{
    border: 1px #be4125 solid;
    font-size: 0.875rem;
    color: #be4125;
    padding: 25px;
    width: 950px;
    margin:0 auto 40px;
}
.heads_up span{
    font-size: 1.25rem;
}
.indent{
	text-align: left;
	display: inline-block;
}
.info p span{
    color: #be4125;
    font-size: 1.25rem;
}

/* ジャンプリンク */
.application{
    background-color: #f4ebdc;
    padding: 35px 0;
}
.application img:hover{
    filter: brightness(1.2);
}

/* こだわりコンテンツ */
.commit_explanation{
    text-align: center;
    background: url(../image/kodawari_waku.png) no-repeat center;
    width: 960px;
    height: 248px;
    margin: 40px auto;
}
.commit_explanation p{
    padding-top: 105px;
}
.commit{
    margin: 50px auto;
}
.commit_area{
    background: url(../image/koda01_bg.jpg) no-repeat center;
}
.commit_tealeaf{
    background: url(../image/koda02_bg.jpg) no-repeat center;
}
.commit_processing{
    background: url(../image/koda03_bg.jpg) no-repeat center;
}
.commit_trust{
    background: url(../image/koda04_bg.jpg) no-repeat center;
}

/* 茶葉コンテンツ */
.teaLeaf_bg{
    background: url(../image/tyaba_bg.jpg);
    padding: 40px 0;
}
.teaLeaf_explanation{
    text-align: center;
    background: url(../image/tyaba_title.png) no-repeat center;
    width: 890px;
    height: 309px;
    margin: 40px auto;
}
.teaLeaf_explanation p{
    padding-top: 180px;
}
.teaLeaf_wrapper{
    overflow: hidden;
    margin: 0 auto 80px;
    width: 1000px;
    text-align: left;
}
.teaLeaf_wrapper span{
    background-color: #fff100;
}
.jyukutya_explanation{
    margin-top: 40px;
    margin-bottom: 20px;
}
.namatya_explanation{
    margin-top: 10px;
    margin-bottom: 20px;
}
.rotya_explanation{
    margin-top: 20px;
    margin-bottom: 20px;
}
.left_img{
    float: left;
    margin-right: 28px;
}
.teaLeaf_box{
    width: 607px;
    float: left;
}
.jyukutya_feature{
    border: 1px solid #7e3f1d;
    border-radius: 10px;
    padding: 20px;
}
.jyukutya_feature li{
    list-style:none;
    color: #7e3f1d;
}
.right_img{
    float: right;
    margin-left: 28px;
}
.namatya_feature{
    width: 600px;
    border: 1px solid #32793c;
    border-radius: 10px;
    padding: 20px;
    float: right;
}
.namatya_feature li{
    list-style:none;
    color: #32793c;
}
.rotya_feature{
    border: 1px solid #44301f;
    border-radius: 10px;
    padding: 20px;
}
.rotya_feature li{
    list-style:none;
    color: #44301f;
}

/* 健康・美容コンテンツ */
.health_contents{
    margin: 50px auto;
}
.health_explanation p{
    margin: 20px 0;
}
.flex_wrapper{
    display: flex;
    justify-content: center;
}
.item{
    margin-right: 20px;
}
.item p{
    margin-top: 10px;
}

/* 文化コンテンツ */
.culture_contents{
    padding: 50px 0;
    background: url(../image/bunka_bg.jpg) no-repeat top;
    background-size: cover;
    background-attachment:fixed;
}
.culture_explanation{
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    margin-bottom: 40px;
}
.culture_wrapper{
    width: 1000px;
    margin: 40px auto 0;
    background-color: rgba(253,223,176,0.8);
    text-align: left;
    overflow: hidden;
}
.culture_box{
    padding: 30px;
}
.culture_box h5{
    font-size: 20px;
    color: #be4125;
    border-bottom: 1px #be4125 solid;
    margin: 15px 0 10px;
}
.culture_img{
    float: right;
    margin-left: 28px;
}
.culture_text{
    width: 518px;
}
.culture_text span{
    background-color: #fff100;
}

/* お客様の声 */
.customer_contents{
    padding: 50px 0;
    background: url(../image/voice_bg.png) no-repeat left bottom;
    background-attachment:fixed;
}
.customer_explanation{
    margin-bottom: 30px;
}
.customer_explanation img{
    margin-bottom: 20px;
}
.customer_explanation p{
    margin-bottom: 10px;
}
.customer_box{
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 295px 295px;
    column-gap: 20px;
    row-gap: 30px;
    width: 1000px;
    margin: 0 auto;
}
.customer_voice{
    position:  relative; 
    background-image: url(../image/voice_bg01.png);
    text-align: left;
    padding: 16px;
    line-height: 1.6;
}
.customer_voice h6{
    font-size: 20px;
    border-left: 3px solid #d0735f;
    padding-left: 10px;
    margin-bottom: 15px;
}
.name{
    position: absolute;
    bottom: 20px;
}

/* 業者コンテンツ */
.trader_contents{
    background: url(../image/kentou_bg.jpg);
}
.trader_txt{
    padding: 25px;
    text-align: left;
    color: #fff;
}
.trader_txt img,.trader_txt p{
    margin-bottom: 20px;
}

/* 問い合わせ */
.contact{
    background-color: #f4ebdc;
    padding: 40px 0;
}
.contact p{
    margin-bottom: 30px;
}
.contact_form{
    margin-top: 45px;
}
.contact_form a{
    background-color: #43362a;
    padding: 45px;
    border-radius: 10px;
    margin-left: 40px;
}
.contact_form img:hover{
    filter: brightness(0.8);
}
/* プレゼント */
.present_title{
    position: relative;
    background-color: #810a0a;
    padding: 40px;
}
.present_title::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    border:15px solid transparent;
    border-top: 15px solid #810a0a;
}
.present_contents{
    position: relative;
}
.left_pattern,.right_pattern,.left_pattern2,.right_pattern2{
    position: absolute;
    z-index: -100;
}
.right_pattern{
    right: 0;
    top: 30px;
}
.left_pattern{
    left: 0;
    top: 600px;
}
.right_pattern2{
    right: 0;
    top: 1000px;
}
.left_pattern2{
    left: 0;
    top: 1700px;
}
.present_explanation{
    margin: 80px 0;
}
.present_explanation p{
    margin-bottom: 30px;
}

/* 応募フォーム */
.contact_contents{
    width: 1000px;
    margin: 0 auto;
}
.application_flow p{
    margin-bottom: 30px;
}
.step_frame{
    border: 1px solid #c9c9c9;
    padding: 20px 10px;
    width: 25%;
    text-align: left;
}
.step_frame img{
    width: 100%;
    margin-bottom: 15px;
}
.step_frame p span{
    color: #810a0a;
}
.arrow{
    margin: 170px 5px 0;
}
.from_frame{
    background: url(../image/an_top_bg.jpg) no-repeat  center top,url(../image/an_bottom_bg.jpg) no-repeat  center bottom;
    border-left: 4px solid #c2af7c;
    border-right: 4px solid #c2af7c;
    padding: 40px 0 80px;
    margin: 40px 0;
}
.from_text{
    margin:20px 0 40px;
}
.from_text p{
    margin-top: 15px;
}
.from_contents{
    display:table;
    width: 900px;
    margin: 0 auto;
}

dl{
    border-bottom: 1px solid #bfbfbf;
    padding: 25px 0;
    overflow: hidden;
}
dt,dd{
	display:table-cell;
}
dt{
    float: left;
    text-align: left;
}
dt span{
    border: 1px solid #be4125;
    color: #be4125;
    padding: 2px 5px;
    margin-left: 10px;
}
dt p{
    font-size: 12px;
}
.p_color{
    color: #810a0a;
    margin-top: 5px;
}
dd{
    float: right;
    width: 460px;
    text-align: left;
}
dd span{
    display: block;
    color: #810a0a;
    font-size: 0.8em;
}
select {
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
    appearance: menulist;
  }
  textarea{
    height: 150px;
  }
.inputframe,input[type=text]{
    border: 1px solid #bfbfbf;
    width: 100%;
    font-family: "メイリオ";
    font-size: 0.8rem;
    font-weight: normal;
    padding: 2px;
}
.post_code{
    display: inline-block;
    width: 250px;
    margin:0 0 15px 15px;
}
.radio_color{
    accent-color: #810a0a;
}
summary{
    background: #c2af7c;
    color: #fff;
    height: 40px;
    padding-top: 12px;
}
.tos_item{
    font-family: "メイリオ";
    font-weight: normal;
    text-align: left;
    margin:20px 30px 30px;
}
.tos_item h6{
    font-size: 1.125rem;
    font-weight: normal;
    color: #810a0a;
}
.tos_item p{
    font-size: 0.875rem;
}
.consent{
    margin: 30px 0;
}
button{
    border-radius: 10px;
    background-color: #810a0a;
    width: 500px;
    height: 80px;
    color: #fff;
    font-size: 1.125rem;
}
.consent label:hover { cursor: pointer; }


/* フッター */
.footer_link_small{
    font-family: "メイリオ";
    font-size: 0.8rem;
    font-weight: normal;
}
.footer_link_small a{
    color: #2196F3;
}
.link_contact{
    margin-bottom: 10px;
}
.link_item{
    margin: 0 10px;
}
footer{
    text-align: center;
    font-size: 0.8rem;
    margin: 50px 0 20px;
}