.txt{
    border:0;
    padding:5px;
    font-size:1.3em;
    font-family:Arial, sans-serif;
    color:#aaa;
    border:solid 5px rgb(63, 132, 145);
    margin:0 0 20px;
    width:100px;
}

 #CountdownArea{
    border: 8px double rgb(33, 32, 97);
    width: 620px;
 }